# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#arquivos especificos do eclipse
.cproject
.project
Debug
Release

#arquivo compilado
testeme
